<!DOCTYPE html>

<html>

<head>

    <title>Schedules Table</title>

</head>

<body>

<h1>Schedules Table</h1>

<table border="1" cellpadding="10">

<tr>

    <th>Schedule ID</th>

    <th>Doctor ID</th>

    <th>Available Day</th>

    <th>Start Time</th>

    <th>End Time</th>

</tr>

{% for i in data %}

<tr>

    <td>{{ i.schedule_id }}</td>

  <td>{{ i.doctor.user.full_name }}</td>

    <td>{{ i.available_day }}</td>

    <td>{{ i.start_time }}</td>

    <td>{{ i.end_time }}</td>

</tr>

{% endfor %}

</table>

</body>

</html>